body {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
}
div {
  display: block;
}
h1 {
  font-size: 50px;
  font-weight: 700;
}

.half-width {
  width: 50%;
  padding-left: 20px;
}
.half-width img {
  width: 45%;
  padding-left: 100px;
}
.color-mission {
  color: rgb(8, 172, 131);
}
.top-section {
  display: flex;
  line-height: 2;
  padding-bottom: 10px;
  text-align: justify;
}
#top-section-side {
  line-height: 1.5;
  padding-left: 10px;
  font-size: 60px;
  border-left: 5px solid rgba(0, 177, 9, 0.747);
  border-radius: 5px 5px 5px 5px;
  border-image-slice: 1;
}
.explore-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(219, 109, 36), rgb(243, 119, 97));
  color: white;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 3.5px;
  box-shadow: rgb(32, 145, 81);
}
#my-mission {
  margin-top: 40px;
  margin-bottom: 40px;
}
h2 {
  font-size: 45px;
  font-family: 700px;
  text-align: center;
}
#box-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.box {
  width: 25%;
  padding: 60px 25px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.box img {
  width: 50%;
}
#box-1 {
  background-color: rgba(250, 90, 90, 0.2);
}
#box-2 {
  background-color: #fff3d2;
}
#box-3 {
  background-color: rgba(80, 155, 166, 0.2);
}
#develop {
  display: flex;
  margin: 100px 0px;
  margin-right: 100px;
  text-align: justify;
}
#develop img {
  width: 52%;
  padding-left: 30%;
}
#community {
  display: flex;
  margin: 100px 0px;
  margin-left: 120px;
  text-align: justify;
}
#community img {
  width: 65%;
  padding-left: 80px;
}
#build {
  display: flex;
  line-height: 1.5;
  padding-top: 25px;
  padding-left: 20px;
  margin: 100px 15px;
  margin-left: 150px;
  text-align: justify;
  text-align: left;
  background-color: rgb(252, 200, 208);
  border-radius: 35px;
}

#build img {
  width: 55%;
  padding-left: 20%;
}

#build-corona {
  text-align: center;
}
#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0px;
  margin-top: 35px;
}
footer h3 {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 40px;
}
footer h3 span {
  color: orangered;
}
